body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma", Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gainsboro;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.outergrid {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  justify-self: center;
  margin: 10px;
  /* width: 100vw; */
}

.smallProjects {
  display: flex;
  flex-direction: column;
  width: 33vw;
  margin-right: 10px;
}

.largeProjects {
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 900px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  /* border: 1px solid slategray; */
  border-radius: 10px;
  box-shadow: 5px 7px 7px lightgray;
  /* width: 200px; */
  /* max-width: 300px; */
  height: fit-content;
  margin: 10px;
  padding-bottom: 20px;
}

.title {
  /* width: 100%; */
  color: slategray;
  padding: 10px;
  /* align-items: center; */
  /* border-bottom: 1px solid slategray; */
  /* margin: 10px; */
  text-transform: uppercase;
  font-size: .8em;
}

.post {
  width: 100%;
  background: white;
  margin: 0px 0px 7px 0px;
  /* margin: 0px; */
}

.text {
  padding: 15px;
  /* background-color:white; */
}

.date {
  display: flex;
  padding: 15px;
  font-weight: bold;
  font-size: .8em;
  justify-content: flex-end;
  color: slategray;
  margin: 0px;

}

.image {
  width: 100%;
  height: auto;
}